ul.topnav{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EEBDCE;
}
ul.topnav li {float : left;}
ul.topnav li a {
    display: inline-block;
    color: #ffffff;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 28px;
	font-family: A little sunshine;
}
ul.topnave li a:hover {background-color: #d5beff}
ul.topnav li.icon {display: none;}

.jumbotron{
    position: relative;
    background: #000 url("bokeh-white.jpg") center center;
    width: 50%;
    height: 10%;
    background-size: cover;
    overflow: hidden;
}