
ul.topnav{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EEBDCE;
}
ul.topnav li {float : left;}
ul.topnav li a {
    display: inline-block;
    color: #ffffff;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 28px;
	font-family: A little sunshine;
}
ul.topnave li a:hover {background-color: #d5beff}
ul.topnav li.icon {display: none;}

.jumbotron{
    position: relative;
    background: #000 url("images/bokeh-white.jpg") center center;
    width: 100%;
    height: 30%;
    background-size: cover;
    overflow: hidden;
}

body {
	
	background-color:  #FFFDFE;
	background-size: cover;
	background-repeat: no-repeat;
	color: #607b8b;
	font-weight: bold;

}
h1 {
	text-align: center;
	color: #a200dd;
	font-family: Janda Curlygirl Chunky;
}

h2 {
	text-align: center;
	color: #EEBDCE;
    font-style: bold;
    font-size: 32px;
	font-family: A little sunshine;
}
h4{
  color: #EEBDCE;
    font-style: bold;
    font-size: 32px;
	font-family: A little sunshine;  
}
p{
	text-align: center;
	color: #607b8b;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-control {
    display: block;
    width: 100%;
    height: 5%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #DEEDDE;
    border-radius: 2px;
    
 
}
.btn-primary {
    color: #fff;
    background-color: #EEBDCE;
    border-color: #DEEDDE;
}
.search-input {
    width: 90%;
    padding: 5px 5%;
    float: right;
    color: #fff;
    background-color: #EEBDCE;
    border-color: #DEEDDE;
}
a.btn.btn-default{
   color: #fff;
    background-color: #EEBDCE;
    border-color: #DEEDDE;  
}
input#signup-button{
      color: #fff;
    background-color: #EEBDCE;
    border-color: #DEEDDE;  
}input{
    color: #fff;
    background-color: #EEBDCE;
    border-color: #DEEDDE; 
}